select{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  cursor: pointer;
  line-height: inherit;
  
}
option{
  background-color: rgb(216, 242, 252);
  color: black;
}

option:hover{
  
}
