//@import url("/src/index.scss"); 
@import './src/index.scss';
//@import "../../index.scss";



.btnTheme{
    height: 200px;
    min-width: 150px;
    text-align: center;
    margin: 150px;
    background-color: $container;
   
}

span{
    margin: 100px;
}

