@import "../node_modules/bootstrap/scss/bootstrap";
$body-bg: rgb(255, 255, 255);
$body-color: rgb(255, 255, 255);
$container: rgb(160, 68, 196);
$fontsize: $font-size-base * 5;


$theme-colors: (
  "primary": #0074d9,
  "danger": #fa0c00,
  "custom": rgb(21, 252, 0)
);

@import "../node_modules/bootstrap/scss/bootstrap";

